---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<api_key>&format=json&method=flickr.photos.search&nojsoncallback=1&tag=skyline&text=akshgai%3Beoirg0gij
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Mon, 07 Mar 2022 17:16:13 GMT
recorded_with: VCR 6.0.0
