---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<api_key>&format=json&method=flickr.photos.search&nojsoncallback=1&tag=skyline&text=boston,%20ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":7776,"perpage":100,"total":777553,"photo":[{"id":"51924222433","owner":"155819248@N02","secret":"1a6ef66604","server":"65535","farm":66,"title":"7330C1AD-44D9-4251-8DE8-D19389A6CCBD_1_105_c","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51924129426","owner":"155819248@N02","secret":"f6e74a9fe9","server":"65535","farm":66,"title":"FFD0F98B-ED2B-4945-90FD-92FECBCFC530_1_105_c","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51924757200","owner":"155819248@N02","secret":"af6bf86234","server":"65535","farm":66,"title":"1831F9E3-A24B-47E6-A027-B0F60213757A_1_105_c","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51924222403","owner":"155819248@N02","secret":"6652e2e039","server":"65535","farm":66,"title":"66FFCDD6-DF5A-44D9-[...]
