---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646520665,"sunrise":1646478799,"sunset":1646519906,"temp":37.99,"feels_like":30.99,"pressure":1029,"humidity":46,"dew_point":20.52,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":10.36,"wind_deg":230,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646517600,"temp":37.47,"feels_like":37.47,"pressure":1029,"humidity":49,"dew_point":21.42,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.37,"wind_deg":199,"wind_gust":2.42,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646521200,"temp":37.99,"feels_like":34.12,"pressure":1029,"humidity":46,"dew_point":20.52,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.99,"wind_deg":193,"wind_gust":7.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1646524800,"temp":36.93,"feels_like":31.77,"pressure":1029,"humidity":50,"dew_point":21.4,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.49,"wind_deg":195,"wind_gust":15.61,"weather":[{"id":804,"[...]
