---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646535652,"sunrise":1646478799,"sunset":1646519906,"temp":36.77,"feels_like":28.4,"pressure":1029,"humidity":60,"dew_point":25.11,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":13,"wind_deg":0,"wind_gust":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646535600,"temp":36.77,"feels_like":31.23,"pressure":1029,"humidity":60,"dew_point":25.11,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.02,"wind_deg":198,"wind_gust":22.95,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1646539200,"temp":36.14,"feels_like":30.22,"pressure":1029,"humidity":62,"dew_point":25.27,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.43,"wind_deg":200,"wind_gust":26.17,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1646542800,"temp":35.76,"feels_like":29.75,"pressure":1029,"humidity":64,"dew_point":25.63,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":7.45,"wind_deg":195,"wind_gust":27.56,"weather":[{"id":804[...]
