---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=42.358894&lon=-71.056742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1646515287,"sunrise":1646478799,"sunset":1646519906,"temp":278.39,"feels_like":275.24,"pressure":1031,"humidity":36,"dew_point":265.49,"uvi":0.41,"clouds":100,"visibility":10000,"wind_speed":4.12,"wind_deg":250,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646514000,"temp":278.39,"feels_like":277.22,"pressure":1031,"humidity":36,"dew_point":265.49,"uvi":0.41,"clouds":100,"visibility":10000,"wind_speed":1.62,"wind_deg":241,"wind_gust":3.06,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646517600,"temp":277.71,"feels_like":277.71,"pressure":1031,"humidity":41,"dew_point":266.45,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.06,"wind_deg":199,"wind_gust":1.08,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646521200,"temp":276.64,"feels_like":274.52,"pressure":1031,"humidity":47,"dew_point":267.16,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.23,"wind_deg":193,"wind_gust":3.57,"weather":[{"id"[...]
