---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=akshgai%3Beoirg0gij
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.150 TT 0 0.151"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "akshgai;eoirg0gij",
            "offset": null
        }
  recorded_at: Mon, 07 Mar 2022 17:13:40 GMT
recorded_with: VCR 6.0.0
