---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<api_key>&format=json&method=flickr.photos.search&nojsoncallback=1&tag=skyline&text=boston,%20ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":7637,"perpage":100,"total":763669,"photo":[{"id":"51920256281","owner":"61298119@N03","secret":"d38be46348","server":"65535","farm":66,"title":"Hill
        and Waterfront 2","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51920587459","owner":"61298119@N03","secret":"6bd76b860b","server":"65535","farm":66,"title":"Tug
        and Ice","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51920070766","owner":"38315261@N00","secret":"a37ac4cf99","server":"65535","farm":66,"title":"Vincent
        van Gogh, Postman Joseph Roulin, 1888, Oil on canvas, 10\/3\/21 #mfaboston","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51919564098","owner":"57229592@N03","secret":"847a3a85e0","server":"65535","farm":66,"title":"R[...]
