---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts,current&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-18000,"hourly":[{"dt":1646758800,"temp":41.5,"feels_like":33.1,"pressure":1015,"humidity":40,"dew_point":20.46,"uvi":3.45,"clouds":20,"visibility":10000,"wind_speed":17.36,"wind_deg":304,"wind_gust":29.75,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1646762400,"temp":41.32,"feels_like":33.17,"pressure":1015,"humidity":38,"dew_point":19.26,"uvi":3,"clouds":19,"visibility":10000,"wind_speed":16.24,"wind_deg":305,"wind_gust":26.44,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1646766000,"temp":41.4,"feels_like":33.46,"pressure":1015,"humidity":36,"dew_point":18.19,"uvi":2.18,"clouds":15,"visibility":10000,"wind_speed":15.55,"wind_deg":307,"wind_gust":24.61,"weather":[{"id":801,"m[...]
