---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts,current&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"hourly":[{"dt":1647367200,"temp":59.79,"feels_like":57.45,"pressure":1022,"humidity":42,"dew_point":36.68,"uvi":2.93,"clouds":75,"visibility":10000,"wind_speed":1.32,"wind_deg":343,"wind_gust":4.94,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1647370800,"temp":59.14,"feels_like":56.82,"pressure":1022,"humidity":44,"dew_point":37.27,"uvi":1.75,"clouds":80,"visibility":10000,"wind_speed":2.66,"wind_deg":71,"wind_gust":5.21,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1647374400,"temp":57.54,"feels_like":55.2,"pressure":1022,"humidity":47,"dew_point":37.49,"uvi":1,"clouds":85,"visibility":10000,"wind_speed":6.38,"wind_deg":87,"wind_gust":6.91,"weather":[{"id":804,"main[...]
