---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<api_key>&format=json&method=flickr.photos.search&nojsoncallback=1&tag=skyline&text=boston,%20ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":7645,"perpage":100,"total":764410,"photo":[{"id":"51940425025","owner":"194628431@N03","secret":"ab4b806820","server":"65535","farm":66,"title":"Real
        estate companies near me Boston MA Real estate agent Boston MA","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51940420760","owner":"194628431@N03","secret":"6f5dd09bbf","server":"65535","farm":66,"title":"Apartment
        rental agency Watertown MA Real estate companies near me Watertown MA","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51938809272","owner":"194628431@N03","secret":"0f0ef25215","server":"65535","farm":66,"title":"Apartment
        rental agency Jamaica Plain MA Real estate companies near me Jamaica Plain
        MA","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51940413200"[...]
