---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<api_key>&format=json&method=flickr.photos.search&nojsoncallback=1&tag=skyline&text=boston,%20ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":7779,"perpage":100,"total":777806,"photo":[{"id":"51923243765","owner":"61298119@N03","secret":"a19f7d5132","server":"65535","farm":66,"title":"Five
        Boats","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51922712638","owner":"61298119@N03","secret":"4486c0bd3b","server":"65535","farm":66,"title":"Vintage
        and Modern Mono","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51921646867","owner":"61298119@N03","secret":"4d1a97a8eb","server":"65535","farm":66,"title":"Three
        Tugs Off Charlestown","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51923044965","owner":"23431299@N07","secret":"6a6cf995b6","server":"65535","farm":66,"title":"220306UKAP002","ispublic":1,"isfriend":0,"isf[...]
