---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Mar 2022 17:07:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1811554014"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-718022911"}]}]}'
  recorded_at: Mon, 07 Mar 2022 17:07:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646672866,"sunrise":1646659442,"sunset":1646701087,"temp":24.37,"feels_like":24.37,"pressure":1026,"humidity":62,"dew_point":14.45,"uvi":2.61,"clouds":88,"visibility":10000,"wind_speed":1.99,"wind_deg":223,"wind_gust":5.99,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.51}},"hourly":[{"dt":1646672400,"temp":24.37,"feels_like":18.48,"pressure":1026,"humidity":62,"dew_point":14.45,"uvi":2.61,"clouds":88,"visibility":10000,"wind_speed":4.65,"wind_deg":138,"wind_gust":5.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646676000,"temp":24.87,"feels_like":20.55,"pressure":1026,"humidity":58,"dew_point":13.59,"uvi":3.48,"clouds":88,"visibility":10000,"wind_speed":3.47,"wind_deg":121,"wind_gust":4.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1646679600,"temp":26.2,"feels_like":22.21,"pressure":1026,"humidity":52,"dew_point":12.65,"uvi":3.72,"clouds":89,"visibility":10000,"wind_speed":3.38,"wind_deg":107,"wind_gust":4.38,"weather":[{"id":80[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.186 TT 0 0.188"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 41867,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1715096877364412420,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL19500062W",
                    "type": "work",
                    "seed": [
                        "/books/OL2061373M",
                        "/works/OL19500062W",
                        "/subjects/photovoltaic_cells",
                        "/subjects/safety_measures",
                        "/subjects/solar_cells",
                        "/subjects/congresses",
                        "/subjects/design_and_construction",
                        "/authors/OL714790A"
                    ],
                    "title": "Photovoltaic safety, Denver, CO, 1988",
                    "title_suggest": "Photovoltaic safety, Denver, CO, 1988",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL2061373M"
                    ],
                    "publish_date": [
                        "1988"
                    ],
                    "publish_year": [
                        1988
                    ],
                    "first_publish_year": 1988,
                    "number_of_pages_median": 246,
                    "lccn": [
                        "88042854"
                    ],
                    "publish_place": [
                        "New York"
                    ],
                    "contributor": [
                        "Luft, Werner.",
                        "Photovoltaics Safety Conference (2nd : 1988 : Denver, Colo.)",
                        "Solar Energy Research Institute."
                    ],
                    "lcc": [
                        "TK-8322.00000000.P46 1988"
                    ],
                    "ddc": [
                        "621.31244"
                    ],
                    "isbn": [
                        "0883183668",
                        "9780883183663"
                    ],
                    "last_modified_i": 1604827192,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL2061373M",
                    "cover_i": 4745684,
                    "publisher": [
                        "American Institute of Physics"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL714790A"
                    ],
                    "author_name": [
                        "Werner Luft"
                    ],
                    "subject": [
                        "Photovoltaic cells",
                        "Safety measures",
                        "Solar cells",
                        "Congresses",
                        "Design and construction"
                    ],
                    "id_goodreads": [
                        "3793862"
                    ],
                    "publisher_facet": [
                        "American Institute of Physics"
                    ],
                    "subject_facet": [
                        "Congresses",
                        "Design and construction",
                        "Photovoltaic cells",
                        "Safety measures",
                        "Solar cells"
                    ],
                    "_version_": 1715082851837280256,
                    "lcc_sort": "TK-8322.00000000.P46 1988",
                    "author_facet": [
                        "OL714790A Werner Luft"
                    ],
                    "subject_key": [
                        "congresses",
                        "design_and_construction",
                        "photovoltaic_cells",
                        "safety_measures",
                        "solar_cells"
                    ],
                    "ddc_sort": "621.31244"
                },
                {
                    "key": "/works/OL8808821W",
                    "type": "work",
                    "seed": [
                        "/books/OL8537031M",
                        "/works/OL8808821W",
                        "/authors/OL3010394A"
                    ],
                    "title": "University of Denver Co 2007",
                    "title_suggest": "University of Denver Co 2007",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL8537031M"
                    ],
                    "publish_date": [
                        "July 1, 2006"
                    ],
                    "publish_year": [
                        2006
                    ],
                    "first_publish_year": 2006,
                    "number_of_pages_median": 180,
                    "oclc": [
                        "150368610"
                    ],
                    "isbn": [
                        "9781427401687",
                        "1427401683"
                    ],
                    "last_modified_i": 1304171421,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL8537031M",
                    "cover_i": 1847337,
                    "publisher": [
                        "College Prowler"
                    ],
                    "[...]
