---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=rome,%20italy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 15 Mar 2022 18:05:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rome,
        italy"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rome","adminArea5Type":"City","adminArea4":"Province
        of Rome","adminArea4Type":"County","adminArea3":"LAZIO","adminArea3Type":"State","adminArea1":"IT","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282492520","unknownInput":"","type":"s","latLng":{"lat":41.893344,"lng":12.483072},"displayLatLng":{"lat":41.893344,"lng":12.483072},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=41.893344,12.483072|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-832976929"}]}]}'
  recorded_at: Tue, 15 Mar 2022 18:05:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=41.893344&lon=12.483072&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8933,"lon":12.4831,"timezone":"Europe/Rome","timezone_offset":3600,"current":{"dt":1647367542,"sunrise":1647321746,"sunset":1647364547,"temp":54.81,"feels_like":53.51,"pressure":1032,"humidity":75,"dew_point":47.05,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":220,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1647367200,"temp":54.81,"feels_like":53.51,"pressure":1032,"humidity":75,"dew_point":47.05,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.3,"wind_deg":188,"wind_gust":13.22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1647370800,"temp":53.87,"feels_like":52.57,"pressure":1032,"humidity":77,"dew_point":46.83,"uvi":0,"clouds":11,"visibility":10000,"wind_speed":3.09,"wind_deg":167,"wind_gust":7.52,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1647374400,"temp":52.59,"feels_like":51.26,"pressure":1032,"humidity":79,"dew_point":46.27,"uvi":0,"clouds":14,"visibility":10000,"wind_speed":1.88,"wind_deg":102,"wind_gust":5.53,"weather":[{"id":801,"main":"[...]
