---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=rome,%20italy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 05 Mar 2022 23:29:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rome,
        italy"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rome","adminArea5Type":"City","adminArea4":"Province
        of Rome","adminArea4Type":"County","adminArea3":"LAZIO","adminArea3Type":"State","adminArea1":"IT","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282492520","unknownInput":"","type":"s","latLng":{"lat":41.893344,"lng":12.483072},"displayLatLng":{"lat":41.893344,"lng":12.483072},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=41.893344,12.483072|marker-sm-50318A-1&scalebar=true&zoom=12&rand=443605187"}]}]}'
  recorded_at: Sat, 05 Mar 2022 23:29:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=41.893344&lon=12.483072&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8933,"lon":12.4831,"timezone":"Europe/Rome","timezone_offset":3600,"current":{"dt":1646522999,"sunrise":1646545054,"sunset":1646586329,"temp":40.51,"feels_like":35.19,"pressure":1010,"humidity":55,"dew_point":26.37,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":8.05,"wind_deg":50,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1646521200,"temp":40.51,"feels_like":36.19,"pressure":1010,"humidity":55,"dew_point":26.37,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.26,"wind_deg":12,"wind_gust":11.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.11},{"dt":1646524800,"temp":39.88,"feels_like":35.33,"pressure":1011,"humidity":58,"dew_point":26.98,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.44,"wind_deg":13,"wind_gust":11.1,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.11},{"dt":1646528400,"temp":39,"feels_like":34.07,"pressure":1011,"humidity":61,"dew_point":27.32,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":6.78,"wind_deg":17,"wind_gust":11.7,"weather":[{"id":800,"main":"Cle[...]
