---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=rome,%20italy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 06 Mar 2022 03:00:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rome,
        italy"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rome","adminArea5Type":"City","adminArea4":"Province
        of Rome","adminArea4Type":"County","adminArea3":"LAZIO","adminArea3Type":"State","adminArea1":"IT","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282492520","unknownInput":"","type":"s","latLng":{"lat":41.893344,"lng":12.483072},"displayLatLng":{"lat":41.893344,"lng":12.483072},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=41.893344,12.483072|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2059907227"}]}]}'
  recorded_at: Sun, 06 Mar 2022 03:00:50 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=41.893344&lon=12.483072&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8933,"lon":12.4831,"timezone":"Europe/Rome","timezone_offset":3600,"current":{"dt":1646535651,"sunrise":1646545054,"sunset":1646586329,"temp":37.13,"feels_like":31.73,"pressure":1010,"humidity":66,"dew_point":27.45,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":50,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1646535600,"temp":37.13,"feels_like":31.77,"pressure":1010,"humidity":66,"dew_point":27.45,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.87,"wind_deg":13,"wind_gust":12.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.02},{"dt":1646539200,"temp":36.73,"feels_like":31.23,"pressure":1010,"humidity":68,"dew_point":27.75,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":6.96,"wind_deg":12,"wind_gust":13.96,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.02},{"dt":1646542800,"temp":36.09,"feels_like":30.47,"pressure":1011,"humidity":70,"dew_point":27.82,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":6.91,"wind_deg":11,"wind_gust":13.89,"weather":[{"id":800,"main"[...]
