---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1647367537,"sunrise":1647341777,"sunset":1647384606,"temp":59.79,"feels_like":57.45,"pressure":1022,"humidity":42,"dew_point":36.68,"uvi":2.93,"clouds":75,"visibility":10000,"wind_speed":13.8,"wind_deg":70,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1647367200,"temp":59.79,"feels_like":57.45,"pressure":1022,"humidity":42,"dew_point":36.68,"uvi":2.93,"clouds":75,"visibility":10000,"wind_speed":1.59,"wind_deg":312,"wind_gust":5.5,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1647370800,"temp":59.2,"feels_like":56.89,"pressure":1022,"humidity":44,"dew_point":37.33,"uvi":1.75,"clouds":80,"visibility":10000,"wind_speed":1.32,"wind_deg":55,"wind_gust":5.7,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1647374400,"temp":57.81,"feels_like":55.51,"pressure":1022,"humidity":47,"dew_point":37.74,"uvi":1,"clouds":85,"visibility":10000,"wind_speed":4.65,"wind_deg":91,"wind_gust":5.99,"weather":[{"id":804,"main"[...]
